name: NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Get Version
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:Version=${{ env.VERSION }}

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal
      
    - name: Pack Kerpackie.Discord.Auth
      run: dotnet pack src/Kerpackie.Discord.Auth/Kerpackie.Discord.Auth.csproj --no-build --configuration Release --output nupkgs /p:Version=${{ env.VERSION }}
      
    - name: Pack Kerpackie.Discord.Auth.Identity
      run: dotnet pack src/Kerpackie.Discord.Auth.Identity/Kerpackie.Discord.Auth.Identity.csproj --no-build --configuration Release --output nupkgs /p:Version=${{ env.VERSION }}

    - name: Pack Kerpackie.Discord.Auth.OpenTelemetry
      run: dotnet pack src/Kerpackie.Discord.Auth.OpenTelemetry/Kerpackie.Discord.Auth.OpenTelemetry.csproj --no-build --configuration Release --output nupkgs /p:Version=${{ env.VERSION }}
      
    - name: Upload NuGet Packages
      uses: actions/upload-artifact@v4
      with:
        name: nuget-packages
        path: nupkgs/*.nupkg

    - name: Publish to NuGet
      run: dotnet nuget push nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
